@font-face {
  font-family: 'NEXON Lv1';
  src: url('/font.woff') format('woff');
}

:root{font-family: "NEXON Lv1";}

html, body, #app{
  background-color: #1f1f1f;
  color: white;
  margin: 0; 
  width: 100%; height: 100%;
  user-select: none;
}

.idpw{
  outline: none;
  background: none; 
  text-align: center;
  border: none; 
  color: white;
  /* opacity: 50%; */
}

.idpw:-webkit-autofill,
.idpw:-webkit-autofill:hover,
.idpw:-webkit-autofill:focus,
.idpw:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white;
}